.navbar{
    padding-bottom: 30px;
    padding-top: 20px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: auto !important;
    max-width: 400px;
}

th.admin-list{
    word-wrap: break-word;
    white-space: normal !important;
    min-width: 100px;
}

textarea{
    resize: both;
}
